/*   CSS Document  */ 
h1 {
	color: DarkGreen; 
	font-size: 50px;  
	font-weight: bold;
}
ul {
	list-style-type: circle;
}

body {
	font-size: 20px; 
	background-image: linear-gradient(to right, #000428, #004e92);
	color: white; 
	margin-left: 250px; 
	
}

h2 {
	color: DarkGreen; 
	font-weight: bold;
}



.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #000435; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  float:left; 
  width:888; 
}


