/*   CSS Document  */ 
h1 {
	color: black; 
	background-color: DarkGreen;
	font-size: 50px;  
}
body {
	text-align: left;
}
h2 {
	color: DarkGreen; 
}

h3 {
	color: DarkGreen; 
}

/*
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: orange; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  float:left; 
  width:888; 
}
*/ 

