/*   CSS Document  */ 

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #3D3D3D ; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

h1.header {
	color: #ECE9E1; 
	font-size: 60px;  
	font-weight: bold;
	background-color:#3D3D3D ; 
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 16px;
  color: #3D3D3D ; 
}

h3, h4 {
  width: 50%;
  height: 60px;
  margin: 0;
  padding: 0;
  display: inline;
}​







ul {
	list-style-type: circle;
}

img {
		border-radius: 50%;
		margin-left: 50px;
		margin-top: 15px; 
	}

body {

	
	font-size: 20px; 
	background-color:#ECE9E1; 
	color: #3D3D3D; 
	margin-left: 250px; 
	
}
p {
	margin-down: 20px; 
}
h2 {
	color: #3D3D3D; 
	font-size: 32px; 
	font-weight: bold;
}


